.search-page-filters {

	// Filtros
	.filter {

		// Si Tiene Seleccionado algo
		.ant-collapse {
			.ant-collapse-item {
				.ant-collapse-header {
					.ant-collapse-extra {
						float: left;
						margin-right: 15px;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 23px;

						.active-filter {
							height: 12px;
							width: 12px;
							border-radius: 50%;
							display: inline-block;
							background-color: rgb(0, 120, 130);
						}
					}
				}
			}
		}

		// Cabecera del Collapse
		.ant-collapse-header {
			padding: 12px 12px;
			font-weight: 600;

			&:hover {
				background: #e9e9e9;
				border-radius: 8px;
			}
		}

		// Contenido dle Collapse
		.ant-collapse-content {
			.ant-collapse-content-box {
				padding: 8px;

				// Radios y Checkbox
				.ant-radio-group,
				.ant-checkbox-group {
					width: 100%;
				}

				// Radios y Checkbox
				.ant-row {
					margin: 0 !important;

					.ant-col {
						&:hover {
							background: #e9e9e9;
							border-radius: 8px;
						}

						.ant-radio-wrapper,
						.ant-checkbox-wrapper {
							width: 100%;
							margin: 0;

							.ant-radio,
							.ant-checkbox {
								float: right;
								padding-top: 4px;
								padding-right: 8px;
								padding-left: 8px;
							}

							.ant-checkbox {
								padding-top: 5px;
							}

							.ant-radio-checked,
							.ant-checkbox-checked {
								&::after {
									border: none;
								}
							}
						}
					}
				}

				// RadiosButtons
				.ant-space {
					width: 100%;

					.ant-radio-group {
						width: 100%;

						.ant-radio-button-wrapper {
							text-align: center;

							&:first-child {
								border-right-color: transparent;
							}
						}
					}

					.ant-input-group {
						&.ant-input-group-compact>*:not(:last-child) {
							margin-right: 0;
							border-right-width: 0 !important;
						}

						.ant-input-number {
							width: 37.5%;

							.ant-input-number-handler-wrap {
								display: none;
							}
						}

						.input-separate {
							width: 5%;
							border: none;
							pointer-events: none;
							background: transparent;
							float: none;
							display: inline-block;
							text-align: center;
							padding: 0;
						}

						.ant-btn {
							width: calc(20% - 5px);
							margin-left: 5px;
						}
					}
				}
			}
		}

		// No Styles Collapse al Header
		.not-collapse {
			.ant-collapse-header {
				&:hover {
					background: transparent !important;
					cursor: auto;
				}
			}

			.ant-collapse-content-box {
				padding: 8px 12px 12px;
			}
		}
	}
}
