@import "../../../Styles/StyleSheets/breakpoints.less";

.dropdown-keyword-location.hidden-dropdown {
	display: none;
}

.home-filters {
	.keyword-location {
		width: 100%;

		.ant-select-selector {
			height: 100%;
		}

		.ant-input {
			height: 100%;
			border: none;
			border-radius: 0;
		}

		.ant-select-selection-placeholder {
			line-height: 52px;
		}
	}
}

.dropdown-keyword-location {
	padding: 0px;
}

@media @screen-lg {
	.home-filters {
		.keyword-location {
			.ant-select-selection-placeholder {
				line-height: 50px;
			}
		}
	}
}

@media @screen-sm {
	.dropdown-keyword-location {
		width: calc(100% + -82px) !important;
		max-width: 550px;
	}
}
