@import "../../../Styles/StyleSheets/breakpoints.less";

.ant-modal-mask {
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(20px);
}

.social-share-modal {
	max-width: 600px;
	padding-bottom: 0;

	@media @screen-md {
		border-radius: 0px;
		max-height: 100%;
		max-width: 100%;
		margin: 0px;
		height: 100%;
	}

	.ant-modal-content {
		padding: 12px;
		@media @screen-md {
			border-radius: 0;
			height: 100%;
		}
	}
	.ant-modal-header {
		border: none;
		padding-bottom: 0;
		@media @screen-lg {
			padding: 16px 8px;
		}
	}
	.ant-modal-title {
		font-weight: bold;
	}
	.ant-modal-close {
		top: 18px;
		right: 18px;
		@media @screen-lg {
			right: 0;
		}
	}
	.ant-modal-body {
		@media @screen-lg {
			padding: 16px 8px;
		}
		.secondary {
			line-height: 40px;
		}
	}
}

.social-share-button {
	@media @screen-lg {
		padding: 0;
		width: auto;
		height: auto;
		line-height: 0;
		border: none;
		background: none;
		box-shadow: none;

		&:hover {
			background: none;
		}

		span:not(.anticon):not(.ant-btn-loading-icon) {
			display: none;
		}

		.anticon:not(.anticon-loading) {
			line-height: 0;
			font-size: 27px;
		}
		.anticon-loading {
			padding-right: 0;
			font-size: 20px;
			color: white;
		}
	}
}
