@import "../../../Styles/StyleSheets/breakpoints.less";

.auth-modal-wrapper {
	padding: 32px 0;

	@media @screen-md {
		padding: 0;
		overflow: hidden;
	}
}

.auth-modal {
	.ant-modal-content {
		@media @screen-md {
			border-radius: 0px;
		}

		@media @screen-md {
			padding: 0 !important;
		}

		.ant-modal-body {
			width: 100%;
			text-align: center;
			height: auto;
			padding: 0;

			.modal-auth-container {
				display: flex;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
				max-width: 100%;
				overflow-y: auto;
				overflow-x: hidden;

				@media screen and (min-width: @breakpoint-lg) {
					height: auto !important;
				}

				.auth-content {
					width: 100%;
				}
			}
		}

		.ant-modal-close {
			top: 10px;
			right: 10px;
			cursor: auto;

			svg {
				width: 24px;
				height: 24px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.brand {
		width: 165px;
	}

	.title {
		.ant-typography {
			max-width: 50%;
			margin: 0 auto;
			@media @screen-lg {
				max-width: 63%;
			}
		}
	}

	.auth-form {
		width: 100%;

		.ant-form-item {
			margin-bottom: 0;
		}

		.ant-form-item-label {
			& label {
				text-transform: capitalize;
			}
		}

		.input-email,
		.input-password {
			height: 42px;
			box-sizing: border-box;
		}

		.ant-form-item-explain {
			padding: 0;
			line-height: 1.1;
			text-align: left;
			position: absolute;
			top: 100%;
			left: 0;
		}
	}

	.ant-divider-horizontal {
		.ant-divider-inner-text {
			line-height: 0px;
		}
	}

	.ant-btn {
		height: 42px;
		text-shadow: none;

		& span {
			font-weight: bold;
		}
	}

	.btn-access {
		box-shadow: rgba(59, 65, 68, 0.7) 0px 8px 20px -15px;
		width: 100%;
	}

	.btn-facebook {
		&:hover,
		&:focus {
			opacity: 0.9;
			// background: #3f5bb9;
			border-color: #3f5bb9;
		}

		.anticon {
			color: #3f5bb9;
		}
	}

	.btn-google {
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover,
		&:focus {
			color: rgb(59, 65, 68);
			border-color: #de5246;
		}

		.anticon {
			color: #de5246;
		}

		span {
			max-width: calc(100% - 30px);
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.bottom-content {
		padding: 0 !important;
	}
}
