@import "../../../Styles/StyleSheets/breakpoints.less";
@tab-nav-height: 58px;

.pd-property-modal {
	max-width: 1200px;
	width: 90% !important;

	@media @screen-lg {
		width: 100% !important;
		margin: 0;
		padding: 0;
	}

	.ant-modal-content {
		overflow: hidden;

		@media @screen-lg {
			width: 100%;
			border-radius: 0px;
		}

		.property-modal-container {
			max-height: calc(600px + 58px);

			@media @screen-lg {
				max-height: 100%;
			}
		}

		.content-column,
		.ant-row.tabrow,
		.ant-tabs,
		.ant-tabs-content-holder,
		.ant-tabs-content {
			height: 100%;
		}

		.ant-modal-body {
			padding: 0;

			.tabs-property-modal {
				.ant-tabs-nav {
					.ant-tabs-tab {
						font-weight: bold;
						border: 1px solid transparent;

						&.ant-tabs-tab-active {
							.ant-tabs-tab-btn {
								font-weight: bold;
							}
						}
					}

					.ant-tabs-ink-bar {
						display: none;
					}

					.ant-tabs-nav-more {
						padding: 0 4px;
					}

					.ant-tabs-nav-wrap::after {
						box-shadow: inset -16px 0 8px -8px rgb(255, 255, 255);
					}

					.ant-tabs-nav-wrap::before {
						box-shadow: inset 16px 0 8px -8px rgba(255, 255, 255);
					}
				}
			}

			.pm-tab-pane {
				&.black-pane {
					background-color: black;
				}

				&.pm-tab-pane-video,
				&.pm-tab-pane-map,
				&.pm-tab-pane-plans {
					.ant-col {
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
				.ant-row,
				.ant-col {
					height: 100%;
				}
			}

			.property-information-request.TABKEY_LEADFORM
				.ant-tabs-nav
				.ant-tabs-tab.ant-tabs-tab-active {
				&::before {
					content: "";
					width: 100%;
					height: 1px;
					position: absolute;
					bottom: -2px;
					left: 0;
					background: white;
				}

				&::after {
					position: absolute;
					content: " ";
					bottom: -2px;
					right: -9px;
					width: 8px;
					height: 8px;
					border-style: solid;
					border-color: #e9e9e9;
					border-image: initial;
					border-bottom-left-radius: 8px;
					border-width: 0px 0px 1px 1px;
					box-shadow: white -2px 2px 0px;
					z-index: 1;
				}
			}

			.property-information-request.TABKEY_SCHEDULEVISITFORM
				.ant-tabs-nav
				.ant-tabs-tab.ant-tabs-tab-active {
				&::after {
					content: "";
					width: 100%;
					height: 1px;
					position: absolute;
					bottom: -2px;
					right: 0;
					background: white;
				}

				&::before {
					position: absolute;
					content: " ";
					bottom: -2px;
					left: -9px;
					width: 8px;
					height: 8px;
					border-style: solid;
					border-color: #e9e9e9;
					border-image: initial;
					border-bottom-right-radius: 8px;
					border-width: 0px 1px 1px 0px;
					box-shadow: white 2px 2px 0px;
					z-index: 1;
				}
			}

			.information-request-container {
				position: absolute;
				right: 0px;
				z-index: 5;
				height: calc(100% - @tab-nav-height);
				top: @tab-nav-height;
				overflow: visible auto;

				.information-request-content {
					min-height: 100%;
				}
			}

			.information-request-container-mobile {
				position: absolute;
				z-index: 10;
				bottom: 0;
				right: 0;
				min-width: 180px;
			}
		}
	}

	.anticon-close-circle {
		font-size: 24px;
		vertical-align: middle;
	}
}
