@import "../../../Styles/StyleSheets/breakpoints.less";

.userbox-desktop {
	background: transparent;
	border-bottom: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.ant-menu-item {
		border: none !important;
		margin: 0 !important;
		top: 0;
		padding: 0 !important;
	}

	.btn-userbox-property .ant-menu-submenu-title {
		margin: 0px;
		display: inline-block;
		font-weight: bold;
		transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s,
			background-color 0.1s ease 0s, color 0.1s ease 0s;
		line-height: 1.5;
		border-color: transparent;
		height: auto;
	}

	.btn-userbox {
		border: none !important;
		top: 0;
		margin: 0 !important;
		padding: 0 !important;
		max-width: 180px;

		.ant-menu-submenu-title {
			margin: 0px;
			display: inline-block;
			font-weight: bold;
			transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s,
				background-color 0.1s ease 0s, color 0.1s ease 0s;
			line-height: 1.5;
			border-color: transparent;
			height: auto;
			max-width: 100%;

			.anticon+span {
				overflow: hidden;
				text-overflow: ellipsis;
				width: calc(100% - 16px);
				display: inline-block;
				vertical-align: bottom;
			}
		}
	}

	.ant-menu-submenu {
		&.btn-notifications {
			padding: 0;

			.anticon {
				margin: 0;
			}
		}
	}
}

.userbox-dropdown-popup {
	.ant-menu-sub {
		min-width: 156px !important;
	}
}

.btn-notifications {
	p.ant-scroll-number-only-unit.current {
		position: relative;
		top: 1px;
	}

	.ant-badge .ant-badge-count {
		height: 17px;
		line-height: 18px;
		text-align: center;
		min-width: 17px;
	}

	@media @screen-lg {
		.ant-badge .anticon {
			margin-right: 0;
		}
	}
}

.notifications-panel {
	width: 300px;
	max-width: 100%;
}

.userbox-mobile {
	background: transparent;
	border: none;
	display: flex;
	flex-direction: column;

	.li-userbox-property,
	.btn-userbox-property {
		order: 2;
	}

	.li-userbox-login {
		order: 1;
	}

	&:not(.ant-menu-horizontal) .ant-menu-item-selected {
		background-color: transparent;
	}

	.ant-menu-submenu {
		padding: 0;

		.ant-menu {
			background: transparent;
		}

		.ant-menu-submenu-title {

			&:hover,
			&:active {
				width: 100%;
				height: 100%;
			}
		}
	}

	.ant-menu-item-selected {
		&::after {
			opacity: 0;
		}
	}

	.ant-menu-item {
		width: 100%;
		height: 100%;

		.btn-userbox-login {
			padding: 0;
			border: none;
		}
	}

	.btn-userbox-property {
		width: auto;
		height: 100%;
		line-height: 20px;
		padding: 0;
	}
}
