@import "../../../../Styles/StyleSheets/breakpoints.less";

.article {
	flex: 1;


	&:last-child {
		border: none;
	}

	.article-image img {
		transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}

	&:hover {
		cursor: pointer;

		.article-image img {
			transform: scale(1.08);
		}
	}

	.article-image {
		overflow: hidden;
		position: relative;
	}

	&.postSmall:last-child {
		border-bottom: none;
	}
}

.postLarge {
	padding-top: 0;
}

.newsLarge {
	height: 100%;
	width: 100%;
	background: transparent;

	.ant-card-body {
		padding: 0;

		small {
			@media @screen-md {
				display: none;
			}
		}

		.ant-card-meta-title {
			white-space: break-spaces;
		}
	}

	.article-image {
		height: 280px;

		@media @screen-md {
			height: 250px;
		}

		img {
			height: 100%;
			width: 100%;
			border-radius: 0;
			object-fit: cover;
		}
	}

	.newsDescription {
		font-weight: 500;
	}
}

.newsSmall {
	display: flex;
	background: transparent;
	height: 100%;
	width: 100%;

	@media @screen-md {
		flex-direction: column;
	}

	.ant-card-body {
		flex: 1.4;
		order: 1;
		padding: 0;
		display: flex;
		align-items: center;

		@media @screen-md {
			order: 2;
			margin: 0;
		}

		.ant-typography {
			margin-bottom: 0;
		}
	}

	.ant-card-cover {
		flex: 1;
		order: 2;

		@media @screen-md {
			order: 1;
		}
	}

	.article-image {
		height: 90px;

		@media @screen-md {
			padding-left: 0;
			height: 250px;
		}

		img {
			height: 100%;
			width: 100%;
			border-radius: 0;
			object-fit: cover;
		}
	}
}
