@import "../../../../Styles/StyleSheets/breakpoints.less";
.similar-carousel {
	// position: relative;
	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	width: 32px;
	// 	height: 100%;
	// 	background: linear-gradient(to left, white, rgba(255, 255, 255, 0.75), transparent);
	// 	z-index: 1;
	// }
	.slick-track {
		display: flex;
	}

	.slick-slide {
		min-width: 300px;
		width: 300px;

		@media @screen-lg {
			width: 290px;
			min-width: 290px;
		}
	}
}
