.search-bar {
	width: 100%;

	.keyword-location {
		.ant-select-selector {
			.ant-input {
				text-overflow: ellipsis;
				box-sizing: border-box;

				&:focus {
					box-shadow: none;
				}
			}

			.ant-select-selection-placeholder {
				right: 50px;
				padding: 2px 13px;
			}
		}

		.ant-select-clear {
			right: 60px;
			background: transparent;
		}
	}

	.keyword-location-button {
		position: absolute;
		top: 12px;
		right: 0;
	}

	.ant-btn {
		min-width: 50px;
	}
}
