@import "../../../Styles/StyleSheets/breakpoints.less";

.property-price-tag {
	.price {
		text-transform: capitalize;
	}
}

.price-tag-skeleton {
	width: 100%;

	.ant-space-item {
		width: 50%;

		@media @screen-lg {
			width: 100%;
		}

		.ant-skeleton {
			width: 100%;

			.ant-skeleton-button {
				width: 100%;
			}
		}
	}
}

.pd-main-content {
	.property-price-tag {
		justify-content: flex-end;
		text-align: right;

		@media @screen-lg {
			justify-content: flex-start;
			text-align: left;
		}

		.commonExpenses,
		.operation_type {
			font-weight: 200;
		}
	}
}

.pd_affix_top {
	.property-price-tag {
		flex-direction: column;
		align-items: flex-start;
	}
}
